# Target
CONFIG_IDF_TARGET="esp32s3"

# PSRAM (útil si tu módulo la trae; no molesta si no la usas)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_QUAD=y

# FreeRTOS a 1000Hz tick para timers más finos (debounce, RMT timing)
CONFIG_FREERTOS_HZ=1000

# Particiones: dejamos espacio de sobra para OTA futura (no obligatorio usarla ahora)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# WiFi / MQTT
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_MQTT_PROTOCOL_311=y

# Log level de arranque razonable
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
